##############################
## Java
##############################
.mtj.tmp/
*.class
*.war
*.ear
*.nar
hs_err_pid*
##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
*.class
